.product-detail-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
}
.left{
  margin-right: 50px;
}
.left img{
  max-width: 500px;
}
.desc{
  font-size: 18px;
}
input{
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  border: 1px pink solid;
  margin: 5px;
}
button{
  padding: 8px 15px;
  border-radius: 10px;
  background-color: pink;
  border: 2px pink solid;
  color: white;
  font-size: 20px;
}
button:hover{
  background-color: antiquewhite;
  color: black;
}