.footer {
    background-color: #333;
    color: #fff;
    padding: 0;
    text-align: center;
    position: relative;
    bottom: 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0 20px 20px;
}

.footer-logo {
    font-size: 1.5em;
}

.footer-contact p, h4,
.footer-logo,
.footer-copyright p {
    margin: 10px;
}

.footer-copyright p {
    padding-bottom: 10px;
}

@media (min-width: 768px) {
    .footer-content {
        flex-direction: row;
        text-align: left;
    }
}
